{% assign post = include.post %}
{% assign format = include.format | default:site.data.strings.date_formats.related_post | default:"%Y %m %d" %}

<div class="page-control">
    {% assign last_category = page.categories | last %}
    {%- assign posts_in_category = site.categories[last_category] | sort: "date" -%}
    {% for post in posts_in_category %}
      {% if post.url == page.url %}
        {% assign current_post_index = forloop.index0 %}
        {% assign previous_post_index = current_post_index | minus: 1 %}
        {% assign next_post_index = current_post_index | plus: 1 %}
        {% assign last_index = posts_in_category.size | minus: 1 %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if page.categories and page.categories.size > 0 %}
    <!-- 디버그: current_index = {{ current_post_index }} -->
      <div>
        {{previous_post_index}}
        {{current_post_index}}
        {{next_post_index}}
        {{posts_in_category.size}}
      {% if current_post_index > 0 %}
        {% assign previous_post = posts_in_category[previous_post_index] %}
        <a id="prev" class="button" href="{{ previous_post.url }}">&laquo; 이전글</a>
      {% else %}

      {% endif %}
      </div>
      <div>
      {% if current_post_index < last_index %}
        {% assign next_post = posts_in_category[next_post_index] %}
        <a id="next" class="button" href="{{ next_post.url }}">다음글 &raquo;</a>
      {% else %}
        <span class="next-post disabled">다음 글이 없습니다</span>
      {% endif %}
      </div>
    {% else %}
      <span class="post-navigation-error">카테고리가 설정되지 않았습니다.</span>
    {% endif %}
  </div>