// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }
img.avatar{
    width:9rem;
    max-width: 100%;
    aspect-ratio: 1 / 1 !important;
}

.sidebar-about .avatar{
    aspect-ratio: 1 / 1 !important;
}


.menu-wrapper {
    text-align:center;
    margin-bottom: 0%;
  
    input[type=checkbox]{
      display: none;
    }
  
    input[type=checkbox] ~ ul{
      display: none;
      list-style: none;
    }
  
    input[type=checkbox]:checked ~ ul{
      display: block;
    }
    
    // nav.sidebar-nav.heading > ul> li> div.menuwrapper{
    //   text-align: center
    // }
  }
  nav.sidebar-nav.heading > ul> li{
    display:block;
    justify-content:center;
    text-align: center !important;
}

.sidebar-nav-item {
    display: inline;
    margin-bottom: 0.5rem;
}

#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) > div:nth-child(2) > ul {
  padding-left: 0 !important;
}

// .spread-btn{
//   align-items:center;
//   position:absolute !important;
//   left: 35% !important;
//   padding-top:3px !important;
// }

.spread-btn{
  align-items:center;
  position:relative !important;
  left: 0% !important;
  padding-top:3px !important;
}

// .material-icons{
//     top: 50%; /* 부모 요소의 50% 위치에서부터 */
//     left: 50%; /* 부모 요소의 50% 위치에서부터 */
//     transform: translate(-50%, -50%); /* 이미지의 중심을 부모 요소의 중심으로 이동 */
//     max-width: 100%; /* 이미지 최대 너비 설정 */
//     max-height: 100%;
// }

#_sidebar > div.sidebar-sticky > div.sidebar-about > p{
  white-space: pre-line;
}
// #_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(1) > button{

// }

// #spread-icon-9{
//   padding-top: 0px
// }
