// You can add CSS rules here that will be inlined into each document.
// .sidebar a {
//   text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
// }
img.avatar{
    width:9rem;
    max-width: 100%;
    aspect-ratio: 1 / 1 !important;
}

.sidebar-about .avatar{
    aspect-ratio: 1 / 1 !important;
}


.menu-wrapper {
    display: flex;
  justify-content: center;
  align-items:center;
    margin-bottom: 0%;
  
    input[type=checkbox]{
      display: none;
    }
  
    input[type=checkbox] ~ ul{
      display: none;
      list-style: none;
    }
  
    input[type=checkbox]:checked ~ ul{
      display: block;
    }
    
    // nav.sidebar-nav.heading > ul> li> div.menuwrapper{
    //   text-align: center
    // }
  }
  nav.sidebar-nav.heading > ul> li{
    //display:block;
    // justify-content:center;
    //  text-align: center !important;
}

.sidebar-nav-item {
    display: inline;
    margin-bottom: 0px !important;
}


// #_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) > div:nth-child(2) > ul {
//   padding-left: 0 !important;
// }

// .spread-btn{
//   align-items:center;
//   position:absolute !important;
//   left: 35% !important;
//   padding-top:3px !important;
// }

#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(1) > a {
  display: inline-block;
  text-align: center;
}

// study 칸 여백 설정
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) {
  padding-right: 24px;
}
// FrontEnd 칸 여백 설정
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(3) > div:nth-child(1) {
  padding-right: 50px;
}
// Android 칸 여백 설정
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(4) > div > a{
  padding-right: 5px;
}

// project 칸 여백 설정
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(2) {
  padding-right: 13px;
}

// Programmers 글자 우측 정렬
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) > a{
  padding-right: 80px;
}

#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2) > a{
  padding-right: 48px;
}
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(2){
  text-align: center;
}
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(3){
  text-align: center;
}
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) > div:nth-child(2) > ul{
  padding-left: 30px
}


// Project 내부의 lucky 111 글자 위치 Project와 맞도록 정렬
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(2) > div:nth-child(2) > ul > li:nth-child(1) > div > a{
  padding-right: 15px;
}
// Project 내부의 이존사배 글자 위치 Project와 맞도록 정렬
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(2) > div:nth-child(2) > ul > li:nth-child(2) > div > a{
  padding-right: 9px;
}

//etc가 Study의 끝과 일치하도록 수정
#_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(2) > ul > li:nth-child(3) > div > a{
  // padding-left: 20px;
}

.spread-btn{
  display: flex;
  justify-content: center;
  align-items:center;
  position:relative !important;
  left: 0% !important;
  aspect-ratio: 1 / 1 !important;
  
}
.spread-btn.material-icons{

}

#_sidebar > div.sidebar-sticky > div.sidebar-about > p{
  white-space: pre-line;
}

#_sidebar > div.sidebar-sticky{
  overflow-y: auto;
}

#_sidebar > div.sidebar-sticky::-webkit-scrollbar {
  display: none;
}

#_sidebar ul {
  padding-bottom: 0;
}


// #_sidebar > div.sidebar-sticky > nav > ul > li:nth-child(1) > div:nth-child(1) > button{

// }

// #spread-icon-9{
//   padding-top: 0px
// }
